$text-h1: 5rem;
$text-h2: 3.8rem;
$text-title: 2.2rem;

$text-l: 2.4rem;
$text-m: 2rem;
$text-s: 1.6rem;
$text-xs: 1.2rem;

$icon-size: 2rem;

h1 {
  font-size: $text-h1;
}

h2 {
  font-size: $text-h2;
}
