%mod-video {
  .video-content {
    border-radius: 1rem;

    .video-wrapper {
      border-radius: 1rem;
      position: relative;

      &.video-wrapper-iframe {
        bottom: 0;
        padding-bottom: 56.25%;
        width: 100%;
      }

      .bg-image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 1rem;
        bottom: 0;
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;

        &::before {
          background-color: $black-05;
          border-radius: 1rem;
          bottom: 0;
          content: '';
          display: block;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
        }
      }

      .play-icon {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%) scale(7);
        transition: transform .2s ease-in-out;
        z-index: 1;
      }

      .video-player {
        border-radius: 1rem;
        width: 100%;
      }

      iframe {
        border-radius: 1rem;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }

      &:hover {
        cursor: pointer;

        .play-icon {
          transform: translate(-50%, -50%) scale(7.5);
          transition: transform .2s ease-in-out;
        }
      }
    }
  }
}
