%mod-hero {
  .carousel {
    .carousel-inner {
      height: 60vh;

      .carousel-item {
        height: 100%;

        .carousel-item-bg {
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          height: 100%;

          &::before {
            background-color: $black-05;
            bottom: 0;
            content: '';
            display: block;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
          }
        }

        .carousel-text-slide {
          align-items: center;
          bottom: 0;
          color: $white;
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: center;
          left: 15%;
          padding-bottom: 1.25rem;
          padding-top: 1.25rem;
          position: absolute;
          right: 15%;
        }
      }
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      background-image: none;
      border: solid $white;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
    }

    .carousel-control-prev-icon {
      transform: rotate(135deg);
    }

    .carousel-control-next-icon {
      transform: rotate(-45deg);
    }
  }

  .hero-bg {
    height: 60vh;
    position: relative;

    .background-wrapper {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      bottom: 0;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;

      &::before {
        background-color: $black-05;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    .container-hero {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      min-height: 60vh;
      position: relative;
      z-index: 1;

      .text-content {
        color: $white;
      }
    }
  }
}
