.mod-video {
  @extend %mod-video;

  .header {
    margin-bottom: 2.5rem;
  }

  &.mod-alignment-center {
    .title {
      padding-bottom: 2rem;
      position: relative;

      &::after {
        background: $theme-red;
        bottom: 0;
        content: '';
        display: block;
        height: 3px;
        left: calc(50% - 2.5rem);
        position: absolute;
        width: 50px;
      }
    }
  }
}
