.mod-video {
  @extend %mod-video;

  .video-content {
    border-radius: 1rem;

    .video-wrapper {
      border-radius: 1rem;

      .bg-image {
        border-radius: 1rem;

        &::before {
          border-radius: 1rem;
        }
      }

      .video-player {
        border-radius: 1rem;
      }

      iframe {
        border-radius: 1rem;
      }
    }
  }

  .header {
    margin-bottom: 2.5rem;
  }

  &.mod-alignment-center {
    .title {
      padding-bottom: 2rem;
      position: relative;

      &::after {
        background: $theme-red;
        bottom: 0;
        content: '';
        display: block;
        height: 3px;
        left: calc(50% - 2.5rem);
        position: absolute;
        width: 50px;
      }
    }
  }
}
