.mod-hero {
  @extend %mod-hero;

  .title {
    color: $white;
  }

  .carousel {
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      border-color: $theme-red;
    }

    .carousel-indicators {
      button {
        background-color: $transparent;
        border: 1px solid $theme-red;
        border-radius: 50%;
        height: 1.2rem;
        opacity: 1;
        width: 1.2rem;

        &.active {
          background-color: $theme-red;
        }
      }
    }
  }

  .subtitle {
    font-size: 2.4rem;
    margin-bottom: 1rem;
  }

  .btn-primary {
    &.active,
    &:hover {
      color: $white;
    }
  }

  .btn-secondary {
    color: $white;
  }

  .btn-link {
    color: $white;

    &:hover {
      color: $white;
    }
  }

  @include media-breakpoint-down(sm) {
    .title {
      font-size: 3rem;
    }

    .subtitle {
      font-size: 1.8rem;
    }
  }
}
