.mod-flexible {
  position: relative;
}

.mod-alignment-left {
  text-align: left;
}

.mod-alignment-center {
  text-align: center;
}

.mod-alignment-right {
  text-align: right;
}

.mod-padding-top-none {
  padding-top: 0;
}

.mod-padding-top-narrow {
  @include media-breakpoint-down(sm) {
    padding-top: 40px;
  }

  padding-top: 60px;
}

.mod-padding-top-normal {
  @include media-breakpoint-down(sm) {
    padding-top: 60px;
  }

  padding-top: 90px;
}

.mod-padding-top-wide {
  @include media-breakpoint-down(sm) {
    padding-top: 90px;
  }

  padding-top: 120px;
}

.mod-padding-bottom-none {
  padding-bottom: 0;
}

.mod-padding-bottom-narrow {
  @include media-breakpoint-down(sm) {
    padding-bottom: 40px;
  }

  padding-bottom: 60px;
}

.mod-padding-bottom-normal {
  @include media-breakpoint-down(sm) {
    padding-bottom: 60px;
  }

  padding-bottom: 90px;
}

.mod-padding-bottom-wide {
  @include media-breakpoint-down(sm) {
    padding-bottom: 90px;
  }

  padding-bottom: 120px;
}
